extends layout

block content
    h1=title
    p
        a(href="../") Home
    p=removed
    if results.length
        table(border="1")
            thead   
                tr
                    th First Name
                    th Last Name
                    th Department
                    th Start Date
                    th Job Title
                    th Salary
                    th
                    th
            tbody
              each stuff in results
                tr
                    td 
                        =stuff.fName
                    td 
                        =stuff.lName
                    td 
                        =stuff.department
                    td 
                        =stuff.startDate.toDateString()
                    td
                        =stuff.jobTitle
                    td
                        =stuff.salary
                    td
                        a(href="../update/"+stuff._id) Update
                    td
                        a(href="../delete/"+stuff._id) Delete 
    else
        p No results found
