extends layout

block content
  h1= title
  p Welcome to #{title}
  div(class="nav-con")
    a(href='/form' class='nav') Form
    a(href='/about' class='nav') About
    a(href='/index' class='nav') Home
  <br />
  <br/>
  <br/>
  div(class="hero-img")
    img(src="/images/shelly_me.jpg" class='family')
  .message= msg
